In [1]:
import urllib.request
import pandas as pd

In [2]:
# The following script downloads the data (The data is also stored in /data/satellite_data.csv)
urls = [f"https://www.n2yo.com/browse/?y=2022&m={month}" for month in [1,2,3]]
urls += [f"https://www.n2yo.com/browse/?y=2021&m={month}" for month in range(1, 13)]
urls += [f"https://www.n2yo.com/browse/?y=2020&m={month}" for month in range(1, 13)]
urls += [f"https://www.n2yo.com/browse/?y=2019&m={month}" for month in range(1, 13)]
month_dfs = []
for url in urls:
    print(f"reading {url}")
    tables = pd.read_html(url)
    month_dfs.append(tables[2])
    
df = pd.concat(month_dfs)

reading https://www.n2yo.com/browse/?y=2022&m=1
reading https://www.n2yo.com/browse/?y=2022&m=2
reading https://www.n2yo.com/browse/?y=2022&m=3
reading https://www.n2yo.com/browse/?y=2021&m=1
reading https://www.n2yo.com/browse/?y=2021&m=2
reading https://www.n2yo.com/browse/?y=2021&m=3
reading https://www.n2yo.com/browse/?y=2021&m=4
reading https://www.n2yo.com/browse/?y=2021&m=5
reading https://www.n2yo.com/browse/?y=2021&m=6
reading https://www.n2yo.com/browse/?y=2021&m=7
reading https://www.n2yo.com/browse/?y=2021&m=8
reading https://www.n2yo.com/browse/?y=2021&m=9
reading https://www.n2yo.com/browse/?y=2021&m=10
reading https://www.n2yo.com/browse/?y=2021&m=11
reading https://www.n2yo.com/browse/?y=2021&m=12
reading https://www.n2yo.com/browse/?y=2020&m=1
reading https://www.n2yo.com/browse/?y=2020&m=2
reading https://www.n2yo.com/browse/?y=2020&m=3
reading https://www.n2yo.com/browse/?y=2020&m=4
reading https://www.n2yo.com/browse/?y=2020&m=5
reading https://www.n2yo.com/browse/?y=2020&m=6
reading https://www.n2yo.com/browse/?y=2020&m=7
reading https://www.n2yo.com/browse/?y=2020&m=8
reading https://www.n2yo.com/browse/?y=2020&m=9
reading https://www.n2yo.com/browse/?y=2020&m=10
reading https://www.n2yo.com/browse/?y=2020&m=11
reading https://www.n2yo.com/browse/?y=2020&m=12
reading https://www.n2yo.com/browse/?y=2019&m=1
reading https://www.n2yo.com/browse/?y=2019&m=2
reading https://www.n2yo.com/browse/?y=2019&m=3
reading https://www.n2yo.com/browse/?y=2019&m=4
reading https://www.n2yo.com/browse/?y=2019&m=5
reading https://www.n2yo.com/browse/?y=2019&m=6
reading https://www.n2yo.com/browse/?y=2019&m=7
reading https://www.n2yo.com/browse/?y=2019&m=8
reading https://www.n2yo.com/browse/?y=2019&m=9
reading https://www.n2yo.com/browse/?y=2019&m=10
reading https://www.n2yo.com/browse/?y=2019&m=11
reading https://www.n2yo.com/browse/?y=2019&m=12

In [3]:
df.to_csv("../data/satellite_data.csv", index=False)

In [4]:
df.head()

            Name Launch date (YYYY-MM-DD)    Status    Action
0  STARLINK-3321               2022-01-06  IN ORBIT  TRACK IT
1  STARLINK-3323               2022-01-06  IN ORBIT  TRACK IT
2  STARLINK-3333               2022-01-06  IN ORBIT  TRACK IT
3  STARLINK-3335               2022-01-06  IN ORBIT  TRACK IT
4  STARLINK-3353               2022-01-06  IN ORBIT  TRACK IT